      .btn {
          padding: 12px 24px;
          color: white;
          text-decoration: none;
          border: none;
          outline: none;
          border-radius: 4px;
          background: red;
          a {
            color: white;
            margin: 1px;
            font-size: 0.9rem;
            text-decoration: none;
            cursor: pointer;
        }
      }