@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Black+Ops+One&family=Bungee&family=Jura:wght@500&family=Nothing+You+Could+Do&family=Syncopate&family=Ultra&display=swap");

$amatic: "Amatic SC", cursive;

$black-ops-one: "Black Ops One", cursive;

$bungee: "Bungee", cursive;

$jura: "Jura", sans-serif;

$nycd: "Nothing You Could Do", cursive;

$syncopate: "Syncopate", sans-serif;

$ultra: "Ultra", serif;

.syncopate {
  font-family: $syncopate;
}

.ultra {
  font-family: $ultra;
}

.amatic {
  font-family: $amatic;
}

.nycd {
  font-family: $nycd;
}

.bungee {
  font-family: $bungee;
}

.black-ops-one {
  font-family: $black-ops-one;
}
