@import "color";
@import "fonts";
@import "media";
@import "effects";
@import "components";
@import "spacing";


html {
  box-sizing: border-box; 
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
